@import "admin.css";

.heading {
  padding-left: 10%;
  height: 300px;
}

.links {
  padding-left: 12%;
}

.searchBox input {
  height: 40px;
  width: 92%;
  border: 1px solid #34383a;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 10px;
  background-color: #34383a;
  color: white;
}

.searchBox {
  display: flex;
  flex: 100%;
  flex-direction: row;
}

.searchBox select {
  display: flex;
  flex-direction: row;
  color: black;
  font-size: 14px;
  font-weight: bold;
  background-color: dodgerblue;
}

.results {
  margin-top: 5%;
}

.noData{
  width: 100%;
}

.results ul,
.noData {
  margin-left: 65%;
}
