/*
Got some inspration form
 - https://www.w3schools.com/css/css3_flexbox_responsive.asp
 - https://www.youtube.com/watch?v=-Wlt8NRtOpo&ab_channel=freeCodeCamp.org
To build basic.css

nav menu from
  https://webdesign.tutsplus.com/tutorials/how-to-build-a-responsive-navigation-bar-with-flexbox--cms-33535

*/

* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
  /* position: relative; */
  min-width: 400px;
  background-image: url("../img/bgImg.jpg");
  background-size: 100%;
}

/* Header/logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

header {
  flex-direction: row;
  /* for sticky navbar */
  /* position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%; */
}

/* Style the top navigation bar */
.topNavbar {
  display: flex;
  background-color: #333;
}

img {
  max-width: 100%;
}

.logo {
  margin-right: auto;
  text-align: center;
}

.logo img {
  width: 200px;
}

.l3 {
  margin-right: 20px;
}

.fakeimg{
  height:200px;
}

/* Style the navigation bar links */
.topNavbar a {
  color: white;

  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
.line {
  border-right: 2px solid white;
  margin-right: 10px;
}

/* Change color on hover */
.topNavbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Reset color logo on hover */
.logo a:hover {
  background-color: transparent;
}

/* Footer */
.footer {
  padding: 20px;
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  background: #ddd;
}

/* Column container */
.content {
  display: flex;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
}

.striped-border {
  border-bottom: 1px dashed #000;
}

.menu-icon {
  font-size: "100px";
  font-weight: bold;
  cursor: pointer;
}

/* Main column */
.main {
  background-color: white;
  padding: 20px;
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row,
  .topNavbar {
    flex-direction: column;
  }
  .logo {
    margin-right: 0;
  }

  .line {
    border-top: 2px solid white;
  }

  .l3 {
    margin-right: 0;
  }
}
