@import "basic.css";


/* navbar customs */
.mostRight {
  flex: 1;
}

.mostLeft {
  flex: 1;
}

/* profile Img center */
.profileImg {
  width: 15%;
  margin: auto;
}
.topImg {
  border-radius: 50%;
}

/* Column container */
.content {
  margin: 0 auto;
  padding: 50px;
  max-width: 800px;
  width: calc(100% - 200px);
  background-color: #fff;
  color: black;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: left;
  display: block;
  overflow: auto;

}

.w60 {
  width: 60%;
}

textarea {
  height: 200px;
}

.mainCol1 input,
textarea,
button,
.topTitle {
  margin: 8px 0;
  width: 90%;
  padding: 12px 20px;
  display: block;
  box-sizing: border-box;

}

input,textarea{
  border: 2px solid black;
}
.sidebyside input {
  display: block;
  margin: 8px 0;
  width: 40%;
  padding: 12px 20px;
  box-sizing: border-box;
}
.content{
  margin: 0 auto;
  padding: 50px;
  max-width: 800px;
  width: calc(100% - 200px);
  background-color: #fff;
  color: black;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: left;
  display: block;
  overflow: auto;
}

.mainCol1 {
  flex: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  /*   background-color: #1b4958; */
  background-color: white;
  padding-bottom: 20px;
  padding-top: 30px;
}


select {
  width: 150px;
  margin: 10px;
}

/* table of zone slots on fairoverview */
.zoneTimeslotstable {
  width: 100%;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .mainCol1,
  .mainCol2 {
    flex: 100%;
  }
  /* profile Img center */
  .profileImg {
    width: 30%;
    border-radius: 50%;
    margin: auto;
  }

  /* Column container */
  .content {
    margin: 0 auto;
    padding: 50px;
    max-width: 800px;
    width: calc(100% - 200px);
    background-color: #fff;
    color: black;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: left;
    display: block;
    overflow: auto;
  }

  .sidebyside input,
  select {
    display: flex;
  }
}

.save {
  flex: none;
}
#btn {
  background-color: dodgerBlue;
  width: 100%;
  color: white;
  padding: 15px;
  margin: 10px 0px;
  border: none;
  cursor: pointer;
  font-size: medium;
}

#btn_cont {
  background-color: dodgerBlue;
  width: 100%;
  color: white;
  padding: 15px;
  border: none;
  cursor: pointer;
  font-size: medium;
}


