@import "city_main.css";
@import "fairs_card.css";

.content{
  /* background-color: #1b4958; */
  margin: 0 auto;
  padding: 50px;
  max-width: 800px;
  width: calc(100% - 200px);
  background-color: #fff;
  color: black;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: left;
  display: block;
  overflow: auto;
}

a {
  text-decoration: none;
}
