@import "basic.css";

* {
  color: white;
}

/* navbar customs */
.mostRight {
  flex: 1;
}

.mostLeft {
  flex: 1;
}

/* profile Img center */
.profileImg {
  width: 15%;
  margin: auto;
}
.topImg {
  border-radius: 50%;
}

/* Column container */
.content {
  display: flex;
  width: 50%;
  margin: auto;
  flex-wrap: wrap;
}

.w60 {
  width: 60%;
}

textarea {
  height: 20%;
}

.mainCol1 input,
textarea,
button,
.topTitle {
  margin: 8px 0;
  width: 90%;
  padding: 12px 20px;
  display: block;
  box-sizing: border-box;
}

.sidebyside input {
  display: inline;
  margin: 8px 0;
  width: 40%;
  padding: 12px 20px;
  box-sizing: border-box;
}

.mainCol1 {
  flex: 50%;
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  /* background-color: #1b4958; */
  background-color: #141516;
}

select {
  width: 150px;
  margin: 10px;
}

/* table of zone slots on fairoverview */
.zoneTimeslotstable {
  width: 100%;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .mainCol1,
  .mainCol2 {
    flex: 100%;
  }
  /* profile Img center */
  .profileImg {
    width: 30%;
    border-radius: 50%;
    margin: auto;
  }

  /* Column container */
  .content {
    width: 80%;
  }

  .sidebyside input,
  select {
    display: flex;
  }
}

.save {
  flex: none;
}
#btn {
  background-color: #4caf50;
  width: 100%;
  color: black;
  padding: 15px;
  margin: 10px 0px;
  border: none;
  cursor: pointer;
  font-size: medium;
}

/* change color to white */
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
