@import "basic.css";
.content {
  /* background-color: #1b4958; */
  margin: 0 auto;
  padding: 50px;
  max-width: 800px;
  width: calc(100% - 200px);
  background-color: #fff;
  color: black;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: left;
  display: block;
  overflow: auto;
}

.zoneTimeslotstable {
  width: 100%;
  margin-bottom: 200px;
}
.desc {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  word-wrap: break-word;
}

.ZoneBtn {
  display: inline-block;
  float: right;
}

input,
.desc {
  margin: 8px 0;
  width: 70%;
  padding: 12px 20px;
  display: block;
  box-sizing: border-box;
  word-wrap: break-word;
}

.Img,
.sidebyside,
.video video {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  flex-wrap: wrap;
}
.ZoneBtn .ReservationBtn {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 20px;
  padding: 10px;
  flex-wrap: wrap;
}
.ZoneBtn .ReservationBtn a {
  background-color: #4caf50;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  color: black;
}

.Img img {
  margin: 5px;
  width: 20%;
}

@media screen and (max-width: 700px) {
  .Img img {
    margin: 5px;
    width: 90%;
  }
}

.info {
  flex: 50%;
  margin-top: 30px;
  display: block;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 20px;
}

/* .in,
.dropBox_Dates {
  display: none;
}
 */
#more {
  display: none;
}
