@import "basic.css";

.content {
  margin-top: 2%;
}

/* .flexbox  container */
.flexbox {
  display: flex;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
}

.sideImg {
  flex: 1 1 auto;
  height: 500px;
  margin-right: 10px;
  margin-top: 100px;
}

#form {
  flex: 1 1 auto;

  /*   background-color: #1b4958;
 */
  background-color: #141516;

  border-radius: 75px;
  margin-left: auto;
}

button {
  background-color: #4caf50;
  color: #141516;
  padding: 15px;
  margin: 10px 0px;
  border: none;
  cursor: pointer;
}

select {
  display: inline-block;
}

input,
textarea {
  margin: 8px 0;
  width: 250px;
  padding: 12px 20px;
  display: block;
  border: 2px solid green;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

button:hover {
  opacity: 0.7;
}
