@import "basic.css";

/* Column container */
.content {
  display: flex;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  background-color: #141516;

}

.striped-border {
  border-bottom: 1px dashed #000;
}

.menu-icon {
  font-size: "100px";
  font-weight: bold;
  cursor: pointer;
}

/* Main column */
.main {
  background-color: #141516;
  padding: 20px;
}

.banner {
  margin-bottom: -2%;
}

.striped-border {
  border-bottom: 1px dashed #000;
}

/* Content Image for the site */
.contentImg {
  padding: 20px;
}
