@import "basic.css";

/* Column container */
.content {
  width: 60% !important;
  max-width: 100% !important;
}


.menu-icon {
  font-size: "100px";
  font-weight: bold;
  cursor: pointer;
}

/* Main column */
.main {
  padding: 20px;
}

.banner {
  margin-bottom: -2%;
}

.striped-border {
  margin-top: 20px;
}

/* Content Image for the site */
.contentImg {
  padding: 20px;
}
