
/* Column container */
.content {
  display: flex;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  margin: 10px;

}


.sideImg{
  background-color: red;
  height: 500px;
  width: 20%;
}

.loginForm{
  background-color: red;
}
