/* https://www.w3schools.com/howto/howto_custom_select.asp */
@import "basic.css";


.content{
  flex-direction: column;
}
/* Contacts -----------------------------------------------------------*/
.contacts {
  flex: 20%;
  display: flex;
  background-color: dodgerblue;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 300px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
/* ------------------------------------------------------------ */

/* main chat box */
.messageBox {
  flex: 70%;
  width: 100%;
  background-color: black;
}

.messages {
  overflow-y: scroll;
  height: 500px;
  scrollbar-color: dark;

}

#linkinnotification {
  color: dodgerBlue !important;
}


.sendMessage {

  padding: 7px 9px;
  background-color: #181a1b;

}

.sendMessage input {
  height: 40px;
  width:92%;
  border: 1px solid #34383a;
  border-radius: 20px;
  padding-left: 10px;
  background-color: #34383a;
  color: white;

}

.sendMessage input:focus {
  outline: none !important;
}

.sendMessage i {
  font-size:20px;
}


.fa {
  color: dodgerblue !important;
}

.buttons{
  margin-top: 10px;
  float: right;
}
.buttons button{
  padding-right: 20px;
}

button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button:hover {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  cursor: pointer;
}

button:active {
  outline: none;
  border: none;

}

button:focus {
  outline: 0;

}




.bubbleWrapper {
  padding: 10px 10px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-self: flex-end;
  color: #fff;
}
.inlineContainer {
  display: inline-flex;
}
.inlineContainer.own {
  flex-direction: row-reverse;
}
.inlineIcon {
  width: 20px;
  object-fit: contain;
}
.ownBubble {
  min-width: 60px;
  max-width: 700px;
  padding: 14px 18px;
  margin: 6px 8px;
  background-color: #5b5377;
  border-radius: 16px 16px 0 16px;
  border: 1px solid #443f56;
}
.otherBubble {
  min-width: 60px;
  max-width: 700px;
  padding: 14px 18px;
  margin: 6px 8px;
  background-color: #6c8ea4;
  border-radius: 16px 16px 16px 0;
  border: 1px solid #54788e;
}
.own {
  align-self: flex-end;
}
.other {
  align-self: flex-start;
}
span.own,
span.other {
  font-size: 14px;
  color: grey;
}



/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .messages {
    overflow-y: scroll;
    height: 300px;
  }
  .content {
    width: 95%;
  }
  .sendMessage input {

    width:85%;
}
