@import "city_main.css";
/* profile Img center */
.profileImg {
  width: 15%;
  margin: auto;
}
.topImg {
  margin-top: 20px;
  margin-bottom: 20px;
}

input,
.desc {
  margin: 8px 0;
  width: 70%;
  padding: 12px 20px;
  display: block;
  box-sizing: border-box;
  word-wrap: break-word;
}
.desc {
  max-width: 700px;
}
#short_desc {
  word-wrap: break-word;
}

#alert-area {
  padding-left: 9%;
}
#alert-area .msg {
  margin: 2%;
}

.m-r{
  margin-right: 2%;
}
#alert-area li {
  margin-top: 10px;


  margin-bottom: 5%;
  margin-right: 2%;
}

.fl-right {
  float: right;
}

.mainCol1 {
  flex: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  /*   background-color: #1b4958; */
  background-color: #141516;
  padding-bottom: 20px;
  padding-top: 30px;
}
.mainCol2 {
  flex: 50%;
  /* background-color: #1b4958; */
  background-color: #141516;
  padding-top: 30px;
}

.save {
  flex: none;
}

.messaging_btn {
  float: left;
  padding-right: 20px;
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 6px 6px; /* Some padding */
  font-size: 20px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.notification {
  margin-top: 20px;
  border: 1px solid white;
  padding: 10px;
}

button {
  background-color: #4caf50;
  width: 100%;
  color: #141516;
  padding: 15px;
  margin: 10px 0px;
  border: none;
  cursor: pointer;
}

#linkinnotification {
  color: dodgerBlue !important;
}

.reservations {
  margin-top: 0;
  flex: 50%;
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  /*   background-color: #1b4958; */
  background-color: #141516;
  padding-bottom: 20px;
}

.actions {
  flex-direction: row;

  align-items: center;
  justify-content: center;
}

/* Alerty Js */
.ajs-content {
  color: black;
}

/* Style buttons */
.reservation_btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 6px 6px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  margin: 5px;
}

/* Darker background on mouse-over */
.reservation_btn:hover {
  background-color: RoyalBlue;
}

tr,
td {
  width: auto !important;
  size: 20px !important;
  margin: 0 !important;
}

#more {
  display: none;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .mainCol1,
  .mainCol2 {
    flex: 100%;
  }
  /* profile Img center */
  .profileImg {
    width: 30%;
    border-radius: 50%;
    margin: auto;
  }
  .desc {
    max-width: 200px;
  }
  .actions {
    margin: auto !important;
    width: 10px;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
  }

  /* Style buttons */
  .reservation_btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 8px 10px; /* Some padding */
    font-size: 14px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    margin: 2px;
  }

  /* Column container */
  .reservations {
    width: 100%;
    float: 100%;
  }
}
