@import "basic.css";
.black {
  background-color: #141516;
}
.content {
  margin: 0 auto;
  padding: 50px;
  max-width: 800px;
  width: calc(100% - 200px);
  background-color: #fff;
  color: black;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: left;
  display: block;
  overflow: auto;
}

.mainCol {
  flex: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  /*   background-color: #1b4958; */
  background-color: white;
  padding-bottom: 20px;
  padding-top: 30px;
}
.search {
  width: 80%;
  margin: auto;
}
.mainCol input,
textarea,
button,
.topTitle {
  margin: 8px 0;
  width: 70%;
  padding: 12px 20px;
  box-sizing: border-box;
}

td {
  border-bottom: 1px solid white;
}

a {
  color: dodgerblue;
  font-weight: bold;
}

#btn {
  text-decoration: none;
  height: 4em;
  width: 30%;
  display: block;
  padding: 2%;
  margin: 1em auto;
  background-color: #4784ff;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

button{
  box-shadow: none;
}

/* ------------------ MapBox -------------------- */

.mapboxgl-popup-content a {
  font-weight: bold;
  font-size: 16px;
  color: #5a3fc0;
}

.suggestions {
  background-color: white !important;
  color: black !important;
}
.mapboxgl-ctrl-geocoder .suggestions > .active > a {
  background-color: #5a3fc0 !important;
  color: white !important;
}
.mapboxgl-ctrl-geocoder .suggestions > li > a:hover {
  background-color: #5a3fc0 !important;
  color: white !important;
}
.mapboxgl-ctrl-geocoder--button {
  width: unset !important;
  height: unset !important;
  margin: 0 !important;
}
.mapboxgl-ctrl-geocoder .suggestions > li > a {
  background-color: white !important;
}
/* Marker */
.marker {
  background-image: url("../img/mapbox-icon.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.geocoder-dropdown-item {
  padding: 5px;
}
.geocoder-dropdown-icon {
  margin-right: 10px;
}
.geocoder-dropdown-text {
  color: #5a3fc0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}

#map-container {
  position: relative;
  height: 500px;
  border-radius: 10px;
}

#map {
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;

  position: relative;
  height: inherit;
  width: inherit;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  /* Column container */
  .content {
    width: 95%;
  }

  .search {
    width: 80%;
    margin: auto;
  }
}
