@import "basic.css";

.content {
  flex: 50%;
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  /* background-color: #1b4958; */
  background-color: black;
}

#btn {
  background-color: #4caf50;
  width: 40%;
  color: black;
  padding: 15px;
  margin: 10px 0px;
  border: none;
  cursor: pointer;
  font-size: medium;
}

input,
textarea {
  margin: 8px 0;
  width: 80%;
  padding: 12px 20px;
  display: block;
  box-sizing: border-box;
}

td{
  border: 1px solid white;

}
