@import "basic.css";

.content {
  flex: 50%;
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  /* background-color: #1b4958; */
  background-color: #141516;
}

#btn {
  background-color: #4caf50;
  display: block;
  width: 40%;
  color: black;
  padding: 15px;
  margin: 10px 0px;
  border: none;
  cursor: pointer;
  font-size: medium;
}
a {
  color: dodgerblue;
  /* font-weight: bold; */
}
.btnShow {
  background-color: #4caf50;
  color: black;
  padding: 10px;
  margin: 10px 0px;
  border: none;
  cursor: pointer;
  font-size: medium;
}

input,
textarea,
.content a {
  margin: 8px 0;
  width: 80%;
  padding: 12px 20px;
  /*   display: block;*/
  box-sizing: border-box;
}

td {
  border: 1px solid white;
}

.side input {
  width: 35%;
}

/* change color to white */
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
@media screen and (max-width: 700px) {
  .side input {
    width: 80%;
  }
}
